//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.App__background {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../images/studio-ghibli.png");
  height: 100vh;
}
