* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-header {
  background-image: url("../images/studio-ghibli.png");
  height: 60vh;
}
@font-face {
  font-family: "Ghibli Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./Eyad\ Al-Samman\ -\ Ghibli.otf") format("truetype");
}

@font-face {
  font-family: "Ghibli Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./Eyad\ Al-Samman\ -\ Ghibli-Bold.otf") format("truetype");
}
