.cards {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.list__item {
  justify-self: center;
  @media (min-width: 768px) {
  }
}
