.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #716844;
  &__searchBar {
    margin: 0rem 1.5rem;
    color: black;
    font-size: 18px;
  }
}
