.header {
  display: flex;
  border: #051c28 solid 5px;
  background-color: white;
  justify-content: center;
  @media (min-width: 768px) {
    background-repeat: no-repeat;
    background-image: url("../images/totoro.gif");
    background-position: right;
    background-size: contain;
    justify-content: flex-start;
  }
  &__logo {
    height: 150px;
    margin: 20px 100px 20px 40px;
    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }
}
