.header {
  display: flex;
  background-repeat: no-repeat;

  background-image: url("../images/totoro.gif");
  background-position: right;
  background-size: contain;
  border: #051c28 solid 5px;

  &__logo {
    height: 150px;
    margin: 20px 100px 20px 40px;

    background-color: white;
  }

  &__text {
    justify-content: center;
    align-self: center;
    font-family: "Montserrat", sans-serif;
    background-color: #e5f6fb;
    color: #000;
    font-size: 40px;
  }
}
